@using Microsoft.AspNetCore.Components.Authorization
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Template CRM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">           
            <div class="info">
                <AuthorizeView>
                    <Authorized>
                        <a href="/user/profile" class="d-block">@context?.User?.Identity?.Name</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>

     

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="/dashboard/index" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    
                </li>
              
                <li class="nav-item">
                    <a href="/clients/" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Employees
                        </p>
                    </a>
                </li>
              
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Deports
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/payments/index" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i>
                                <p>
                                    Loan Repayments
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/loan/interest" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i>
                                <p>
                                    Loan Interests
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/batch" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i>
                                <p>
                                    Batch Payments
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Settings
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        @* <li class="nav-item">
                            <a href="/product/index" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i>
                                <p>
                                    Loan Products
                                </p>
                            </a>
                        </li> *@
                        @* <AuthorizeView Policy="@PortalPolicy.ViewUsersPolicy">
                            <Authorized>
                                <li class="nav-item">
                                    <a href="/users/index" class="nav-link">
                                        <i class="nav-icon fas fa-circle"></i>
                                        <p>
                                            Users
                                        </p>
                                    </a>
                                </li>
                            </Authorized>
                        </AuthorizeView> *@

                        <li class="nav-item">
                            <a href="/users/index" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i>
                                <p>
                                    Users
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</aside>