<AuthorizeView>
    <Authorized>
        <a href="/user/profile">@context?.User?.Identity?.Name!</a>
        <form method="post" action="/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>