@inherits LayoutComponentBase

<PageTitle>Template Portal</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="wrapper">

            <PartialNavigationBar></PartialNavigationBar>

            <PartialSiderbar></PartialSiderbar>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container-fluid">
                        <Progressbar />
                        <Message />
                        <div class="pt-2">
                            @Body
                        </div>
                    </div>
                </div>
            </div>

            <PartialFooter></PartialFooter>
        </div>
    </Authorized>
    <NotAuthorized>
        <Redirect />
    </NotAuthorized>
</AuthorizeView>
