@page "/user/details/{userId}"
@inherits BasePage

<PartaialPageTitle Header="User Details" Title="User Details">
    <Content>
        @* <div class="float-right mt-2">
            <a href="/batch/create" class="btn btn-info btn-sm">Create new batch</a>
        </div> *@
    </Content>
</PartaialPageTitle>
